header {
    background-color: tan; }
h2 {
    background-color: black;
    color: white;}
h3 { 
    color: crimson;
    background-color: cadetblue;
}
.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
}